<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Óleo <span>> Receber Carro</span></h1>
	</div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-check"></i> </span>
					<h2>Passo a passo para troca de óleo</h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">

						<div class="row">
							<ng-form name="receberCarroForm" novalidate="novalidate">
								<div id="wizard-receber-carro" class="col-sm-12">
									<div class="form-bootstrapWizard">
										<ul class="bootstrapWizard form-wizard">
											<li ng-class="{active: activeStep == 'INFORMAR_PLACA'}">
												<span class="step">1</span> <span class="title">Informar Placa</span>
											</li>
											<li ng-class="{active: activeStep == 'VEICULO'}">
												<span class="step">2</span> <span class="title">Informar Veículo</span>
											</li>
											<li ng-class="{active: activeStep == 'PROPRIETARIO'}">
												<a data-toggle="tab"> <span class="step">3</span> <span class="title">Informar Proprietário</span> </a>
											</li>
											<li ng-class="{active: activeStep == 'TROCA'}">
												<span class="step">4</span> <span class="title">Trocar</span>
											</li>
											<li ng-class="{active: activeStep == 'CONFIRMACAO'}">
												<span class="step">5</span> <span class="title">Final</span>
											</li>
										</ul>
										<div class="clearfix"></div>
									</div>
									<div class="tab-content">
										<div 
											class="tab-pane active" 
											id="tabcontent"
											>
											<div
												id="tab-informar-placa"
												ng-if="activeStep == 'INFORMAR_PLACA'"
												ng-include="'views/oleo/receber-carro-informar-placa.html'"
												ng-controller="OleoReceberCarroPlacaController"
											/>
											<div
												id="tab-veiculo"
												ng-if="activeStep == 'VEICULO'"
												ng-include="'views/oleo/receber-carro-veiculo.html'"
												ng-controller="OleoReceberCarroVeiculoController"
											/>
											<div
												id="tab-proprietario"
												ng-if="activeStep == 'PROPRIETARIO'"
												ng-include="'views/oleo/receber-carro-proprietario.html'"
												ng-controller="OleoReceberCarroProprietarioController"
											/>
											<div
												id="tab-troca"
												ng-if="activeStep == 'TROCA'"
												ng-include="'views/oleo/receber-carro-troca.html'"
												ng-controller="OleoReceberCarroTrocaController"
											/>
											<div
												id="tab-confirmacao"
												ng-if="activeStep == 'CONFIRMACAO'"
												ng-include="'views/oleo/receber-carro-confirmacao.html'"
												ng-controller="OleoReceberCarroConfirmacaoController"
											/>

										</div>

										<div class="form-actions">
											<div class="row">
												<div class="col-sm-12">
													<ul class="pager wizard no-margin">
														<li class="previous" ng-class="{disabled: firstStep()}">
															<a href="javascript:void(0);" ng-click="previousStep()" class="btn btn-lg btn-default"> Anterior </a>
														</li>
														<li class="next" ng-class="{disabled: lastStep()}">
															<a href="javascript:void(0);" ng-click="nextStep()" class="btn btn-lg txt-color-darken"> Próximo </a>
														</li>
													</ul>
												</div>
											</div>
										</div>

									</div>
								</div>
							</ng-form>
						</div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();

	// PAGE RELATED SCRIPTS

	// pagefunction

	var pagefunction = function() {

		// load bootstrap wizard
		
		loadScript("js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js", runBootstrapWizard);

		//Bootstrap Wizard Validations

		function runBootstrapWizard() {

			/*var $validator = $("#wizard-1").validate({
				lang: 'pt_BR',
				rules : {
					placa : {
						required : true
					},
					manufacturer : {
						required : true
					},
					modelo : {
						required : true
					},
					year : {
						required : true,
						minlength : 4,
						maxlength : 4
					},
					owner : {
						required : true,
						minlength : 8
					}
				},

				messages : {
					placa : {
						required : "Você precisa informar a placa para continuar",
						placa : "A placa deve estar no formato ABC1234"
					}
				},

				highlight : function(element) {
					$(element).closest('.form-group').removeClass('has-success').addClass('has-error');
				},
				unhighlight : function(element) {
					$(element).closest('.form-group').removeClass('has-error').addClass('has-success');
				},
				errorElement : 'span',
				errorClass : 'help-block',
				errorPlacement : function(error, element) {
					if (element.parent('.input-group').length) {
						error.insertAfter(element.parent());
					} else {
						error.insertAfter(element);
					}
				}
			}); */

			$('#bootstrap-wizard-1').bootstrapWizard({

				'tabClass' : 'form-wizard',
				'onNext' : function(tab, navigation, index) {
					var $valid = $("#wizard-1").valid();
					if (!$valid) {
						$validator.focusInvalid();
						return false;
					} else {
						$('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass('complete');
						$('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step').html('<i class="fa fa-check"></i>');
					}
				}
			});

		};

		// load fuelux wizard
		
		loadScript("js/plugin/fuelux/wizard/wizard.min.js", fueluxWizard);
		
		function fueluxWizard() {

			var wizard = $('.wizard').wizard();

			wizard.on('finished', function(e, data) {
				//$("#fuelux-wizard").submit();
				//console.log("submitted!");
				$.smallBox({
					title : "Congratulations! Your form was submitted",
					content : "<i class='fa fa-clock-o'></i><i>1 seconds ago...</i>",
					color : "#5F895F",
					iconSmall : "fa fa-check bounce animated",
					timeout : 4000
				});

			});

		};

	};

	// end pagefunction
	
	// Load bootstrap wizard dependency then run pagefunction
	pagefunction();

</script>