<br>
	<h3><strong>Passo 2</strong> - Informações do Veículo</h3>
	<div class="alert alert-info fade in">
		<button class="close" data-dismiss="alert">
			×
		</button>
		<i class="fa-fw fa fa-info"></i>
		<strong>Informação!</strong> Esta é a primeira troca deste veículo, preencha as informações.
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-suitcase fa-lg fa-fw"></i></span>
					<select name="manufacturer" class="form-control input-lg">
						<option value="" selected="selected">Selecione a Marca</option>
						<option value="Ford">Ford</option>
						<option value="GM">GM</option>
						<option value="Peugeout">Peugeout</option>
						<option value="Volkswagen">Volkswagen</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-car fa-lg fa-fw"></i></span>
					<select class="form-control input-lg" name="modelo">
						<option value="" selected="selected">Selecione o Modelo</option>
						<option>308</option>
						<option>Clio 1.0</option>
						<option>Clio 1.6</option>
						<option>Gol</option>
						<option>Vectra</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-calendar-o fa-lg fa-fw"></i></span>
					<input class="form-control input-lg" data-mask="9999" data-mask-placeholder= " " placeholder="Ano Modelo" maxlength="4" type="text" name="year" id="year">
				</div>
			</div>
		</div>
	</div>